



   <div class="bg-dark border-right " id="sidebar-wrapper" >
      {{!-- <div class="sidebar-heading">Start Bootstrap </div> --}}
      <div class="list-group list-group-flush text-center mt-5">
        
        <a href="/student" class="list-group-item list-group-item-action bg-dark text-light">Home</a>

      
        <a href="/student/Profile" class="list-group-item list-group-item-action bg-dark text-light">Profile</a>

        <a href="/student/todays-task" class="list-group-item list-group-item-action bg-dark text-light">Today's Task</a>

     
        <a href="/student/attendance" class="list-group-item list-group-item-action bg-dark text-light">Attendance</a>

     
        <a href="/student/assignment" class="list-group-item list-group-item-action bg-dark text-light">Assignment</a>

        <a href="/student/notes" class="list-group-item list-group-item-action bg-dark text-light">Notes</a>

     
        <a href="/student/announcement" class="list-group-item list-group-item-action bg-dark text-light">Announcement</a>
     
        <a href="/student/chat" class="list-group-item list-group-item-action bg-dark text-light">Chat</a>
         <a href="/student/logout" class="  btn btn-outline-danger">Logout</a>
     
      </div>
    </div>