<nav class="navbar sticky-top navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand ml-3 text-light" href="#">Hi Student <span class="badge bg-secondary ml-3">Student</span>   </a>
    <div class="mr-3">
      <button type="button" class="btn btn-outline-danger">Logout</button>
    </div>
  </div>

</nav>

  