<div class=" border-right side " id="sidebar-wrapper">
   {{!-- <div class="sidebar-heading">Start Bootstrap </div> --}}
   <div class="list-group list-group-flush text-center mt-4 p-3">
      <a href="/student" class="list-group-item  side-hover rounded-pill text-light mb-2">Home</a>
      <a href="/student/Profile" class="list-group-item  side-hover rounded-pill text-light mb-2">Profile</a>
      <a href="/student/todays-task" class="list-group-item  side-hover rounded-pill text-light mb-2">Today's Task</a>
      <a href="/student/attendance" class="list-group-item  side-hover rounded-pill text-light mb-2">Attendance</a>
      <a href="/student/assignment" class="list-group-item  side-hover rounded-pill text-light mb-2">Assignment</a>
      <a href="/student/notes" class="list-group-item  side-hover rounded-pill text-light mb-2">Notes</a>
      <a href="/student/announcement" class="list-group-item  side-hover rounded-pill text-light mb-2">Announcement</a>
      <a href="/student/chat" class="list-group-item  side-hover rounded-pill text-light mb-2">Chat</a>
      <a href="/student/logout" class="  btn btn-outline-danger rounded-pill">Logout</a>
   </div>
</div>