



   <div class="bg-dark border-right " id="sidebar-wrapper" >
      {{!-- <div class="sidebar-heading">Start Bootstrap </div> --}}
      <div class="list-group list-group-flush text-center mt-5">
        
  

      
            <a href="/tutor" class="list-group-item list-group-item-action bg-dark text-light">Home</a>

     
      
        <a href="/tutor-Profile" class="list-group-item list-group-item-action bg-dark text-light">Profile</a>

      
        <a href="/tutor-students" class="list-group-item list-group-item-action bg-dark text-light">Students</a>
      
        <a href="/tutor-attendance" class="list-group-item list-group-item-action bg-dark text-light">Attendance</a>

        <a href="/tutor-assignment" class="list-group-item list-group-item-action bg-dark text-light">assignment</a>

     
        <a href="/tutor-notes" class="list-group-item list-group-item-action bg-dark text-light">Notes</a>

     
        <a href="/tutor-announcement" class="list-group-item list-group-item-action bg-dark text-light">Announcement</a>
     
        <a href="/tutor-events" class="list-group-item list-group-item-action bg-dark text-light">Events</a>

   
        <a href="/tutor-photos" class="list-group-item list-group-item-action bg-dark text-light">Photos</a>

        <a href="/tutor-chat" class="list-group-item list-group-item-action bg-dark text-light">Chat</a>

         <a href="/tutor-logout" class="  btn btn-outline-danger">Logout</a>
     
      </div>
    </div>