<div class=" border-right side " id="sidebar-wrapper">
   {{!-- <div class="sidebar-heading">Start Bootstrap </div> --}}
   <div class="list-group list-group-flush text-center mt-4 p-3 ">
      <a href="/tutor" class="list-group-item  rounded-pill side-hover text-light mb-2">Home</a>
      <a href="/tutor-Profile" class="list-group-item  side-hover rounded-pill text-light mb-2">Profile</a>
      <a href="/tutor-students" class="list-group-item  side-hover rounded-pill text-light mb-2">Students</a>
      <a href="/tutor-attendance" class="list-group-item  side-hover rounded-pill text-light mb-2">Attendance</a>
      <a href="/tutor-assignment" class="list-group-item  side-hover rounded-pill text-light mb-2">assignment</a>
      <a href="/tutor-notes" class="list-group-item  side-hover rounded-pill text-light mb-2">Notes</a>
      <a href="/tutor-announcement" class="list-group-item  side-hover rounded-pill text-light mb-2">Announcement</a>
      <a href="/tutor-events" class="list-group-item  side-hover rounded-pill text-light mb-2">Events</a>
      <a href="/tutor-photos" class="list-group-item  side-hover rounded-pill text-light mb-2">Photos</a>
      {{!-- <a href="/tutor-chat" class="list-group-item  side-hover rounded-pill text-light mb-2">Chat</a> --}}
      <a href="/tutor-logout" class="  btn btn-outline-danger">Logout</a>
   </div>
</div>