<nav class="navbar sticky-top navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand ml-3 text-light" href="#">Hi {{user.Name}}<span class="badge bg-secondary ml-3">Tutor</span></a>
    <div class="mr-3">
     
      <a href="/tutor-logout" class="btn btn-outline-danger">Logout</a>
    </div>
  </div>

</nav>


