body {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  font-size: 0.875rem;
  text-decoration: none;
}
.navbar,
.side {
  background-color: #393843;
  font-weight: bolder;
}
.side-hover {
  background-color: #454457;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.side-hover:hover {
  background-color: #615c8b;
}
/* lading page */

.custom-shape-divider-top-1606467789 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1606467789 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 144px;
}

.custom-shape-divider-top-1606467789 .shape-fill {
  fill: #ffffff;
}

.bg {
  background-image: url("/images/background/classroom-wallpaper.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.tutororStudentimg  {

  width: 300px;
  height:250px;
  align-items: center;
  border-radius: 10%;
}
.tutororStudentimg img {
  width: 200px;
  align-items: center;
  border-radius: 50%;
}

/* login page */
.login {
  width: 40%;
  color: #ffffff;
  margin: 0 auto;
}
.login h1 {
  text-align: center;
}
/* aside end */
/* main page  */

.carousel-inner {
  width: 100%;
  height: 400px;
}
.carousel-item img {
  width: 100%;
  height: 400px;
}
.dash {
  width: 100%;
  height: 300px;
  background-color: #aaaaaa;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 5px;
  color: rgb(9, 22, 34);
}
.dash h5 {
  text-align: center;
}
footer {
  background-color: #393843;
  text-align: center;
  color: whitesmoke;
}
footer span {
  font-weight: bold;
}

/* sidebar and header */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 768px) {
  .tutororStudentimg  {
    margin-top: 100px;
    width: 95%;
    height:400px;
    align-items: center;
    border-radius: 10%;
  }
  .tutororStudentimg img{
    padding: 20px;
    width: 70%;
    height:330px;

  }
  .login {
    
    width:90%;
    height: 500px;
    color: #ffffff;
    margin: 400px auto;
    
    
  }
  input{
    height: 60px;
    margin-bottom: 10px;
  }
  label{
    font-size: 24px;

  }
  button ,a{
  
    height: 50px;
    margin-bottom: 10px;
  

  }
  h1{
    font-size: 55px;
  }
  .card-text{
    margin-top: 100px;
    font-size: 35px;
    color: azure;
    font-weight:bolder ;
  }
  .dash {
    width: 100%;
    height: 700px;
    background-color: #aaaaaa;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px 5px;
    color: rgb(9, 22, 34);
  }
  .carousel-inner {
    width: 100%;
    height: 700px;
}

  

 
  
}

/* Profile */
.profil {
  margin: 50px 0;
}
.profil h3 {
  text-align: center;
  margin-bottom: 80px;
}
.pro-pic img {
  width: 200px;
  height: 200px;
}
.pro-pic {
  text-align: center;
}
.profile-details table {
  font-size: larger;
}
.profil-edit {
  text-align: center;
}
.profil-edit button {
  margin: 40px 0;
}
/* tutor studense */
.studenDetails {
  align-items: center;
  text-align: right;

  padding: 2rem;
}
.tableIcon a {
  margin-right: 25px;
}
/* atttendance page */
.atttendance {
  text-align: center;
}
.topic {
  justify-content: center;
}
/* form add student */
.form-group {
  margin-bottom: 10px;
}
.forms {
  width: 50%;
}
.btt {
  text-align: center;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
video {
  width: 270px;
  height: 190px;
}
iframe {
  width: 270px;
  height: 190px;
}
#pdfDoc {
  width: 270px;
  height: 190px;
}
.page {
  margin: 1em auto;
  max-width: 768px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
.box {
  padding: 0.5em;
  width: 100%;
  margin: 0.5em;
}
.box-2 {
  padding: 0.5em;
  width: calc(100% / 2 - 1em);
}
.options label,.options input {
  width: 4em;
  padding: 0.5em 1em;
}
.hide {
  display: none;
}
.ss {
  padding: 30px 1000px;
}
.image_container {
  max-width: 100%;
  max-height: 300px;
}
#cropped_result img {
  max-width: 100%;
  max-height: 300px;
}
#rzp-button1 {
  width: 150px;
  margin: 10px 0;
  border-radius: 20px;
  border: 0;
  background-color: rgba(31, 31, 85, 0.815);
  color: white;
}
.progress {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
}
.bar {
  background-color: #b4f5b4;
  width: 0%;
  height: 25px;
  border-radius: 3px;
}
.percent {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 48%;
}
#message {
  border-color: #00b7ff;
  border-radius: 7px;
}
.chatbg {
  background-color: #c6deff;
}
.cc {
  justify-content: center;
  display: flex;
}
#output {
  font-size: 14px;
}
strong {
  color: #615c8b;
}
#feedback {
  font-size: 12px;
}
.mobile {
  display: none;
}
.computer {
  display: block;
}
.center {
  margin-left: auto;
  margin-right: auto;
}



/* 
@media (max-width: 850px) {
 
} */


 
