<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {{#if students}}
    {{>tutor-sidenav}}
    {{/if}}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    <div class="container-fluid">

        
     
    <!-- /#page-content-wrapper -->

</div>
</div>
<!-- /#wrapper -->

