<div class="side d-flex flex-row bd-highlight">
  <aside class="sidenav">
    <ul>
      <li>
        <a href="/tutor">Home</a>

      </li>
      <li>
        <a href="/tutor-Profile">Profile</a>

      </li>
      <li>
        <a href="/tutor-students">Students</a>
      </li>
      <li>
        <a href="/tutor-attendance">Attendance</a>

      </li>
      <li>
        <a href="/tutor-assignment">assignment</a>

      </li>
      <li>
        <a href="/tutor-notes">Notes</a>

      </li>
      <li>
        <a href="/tutor-announcement">Announcement</a>
      </li>
      <li>
        <a href="/tutor-events">Events</a>

      </li>
      <li>
        <a href="/tutor-photos">Photos</a>

      </li>
    </ul>




  </aside>

  {{>tutor-dashboard}}


</div>
</div>