

<div class="side d-flex flex-row bd-highlight">
    <aside class="sidenav">
        <ul>
            <li>
                <a href="/tutor">Home</a>

            </li>
            <li>
                <a href="/tutor-Profile">Profile</a>

            </li>
            <li>
                <a href="/tutor-students">Students</a>
            </li>
            <li>
                <a href="/tutor-attendance">Attendance</a>

            </li>
            <li>
                <a href="/tutor-assignment">assignment</a>

            </li>
            <li>
                <a href="/tutor-notes">Notes</a>

            </li>
            <li>
                <a href="/tutor-announcement">Announcement</a>
            </li>
            <li>
                <a href="/tutor-events">Events</a>

            </li>
            <li>
                <a href="/tutor-photos">Photos</a>

            </li>
        </ul>




    </aside>

    <div class="main">
        <div class="container ">
            <div class="row atttendance">
                <div class="col-md-12 m-2 ">
                    <h3>Attendance</h3>
                </div>
                <div class="col-md-12 d-flex justify-content-center ">
                    <div class="form-group row  ">
                        <label for="example-date-input" class="col-2 col-form-label ">Date</label>
                           <form action="/tutor-attendance" method="post">
                        <div class="col-10 d-flex justify-content-start">
                         
                            <input class="form-control " type="date" value="" name="date" onchange="return dateChange(this.value)"
                                id="datePicker" min="2020-01-01" max="2020-12-31" required>
                                <button type="submit" class="btn btn-success">Search</button>
                                
                        </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col" width=30%>Rollno</th>
                                <th scope="col" width=40%>Name</th>
                                <th scope="col" width=30%>Attendance</th>

                            </tr>
                        </thead>
                    
                        <tbody>
                       
                            {{#each attendance}}
                            <tr>
                                <th scope="row">{{inc @index}} </th>
                                <td>{{this.Name}}</td>
                                <td>{{this.Attendance.Attendance}}</td>

                            </tr>
                            {{/each}}
                            
                      

                        </tbody>
                        
                    </table>
                </div>
            </div>


        </div>
    </div>




</div>
</div>
{{!-- <script>

    $('input[type="date"]').change(function () {
        alert(this.value.split("-").reverse().join("-"));
    });

    function dateChange(value) {
        $.ajax({
            url: "/tutor-attendance",

            method: 'put',
            data: {
                Date: value
            },
            success: function (attendance) {
                
             
                alert(attendance)
                location.reload()


            }
        });


    };
</script> --}}