<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    {{#if user}}
    {{>tutor-sidenav}}
    {{/if}}
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row topic">
            <div class="col-md-12 m-2 ">
                <h3 class="text-center">Photos</h3>
            </div>
            <div class="row w-50  ">
                <div class="box-2">
                    <div class="result"></div>
                </div>
                <form action="/tutor-photos" id="photoform" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Topics</label>
                        <input type="text" class="form-control" id="topic" name="Topic" placeholder="Enter you Topics"
                            required>
                    </div>
                    <input id="cropped_image" type="text" name="xcrop" hidden />
                    <input id="cropped_image1" type="text" name="ycrop" hidden />
                    <input id="cropped_image2" type="text" name="widthcrop" hidden />
                    <input id="cropped_image3" type="text" name="hightcrop" hidden />
                    {{!-- onchange="return photoValidation()"  id="photoFile"  --}}
                    <div class="mb-3">
                        <label for="filePdf" class="form-label"> files </label>
                        <input class="form-control" type="file" name="Photos" class="photoFile" id="image"
                            onchange="readURL(this);" required>
                    </div>
                    <div class="image_container" style="max-height: 300px;width: 450px;">
                        <img id="blah" src="" />
                    </div>
                    {{!-- <div id="cropped_result"></div>
                        <button id="crop_button">Crop</button> --}}
                    <button type="submit" class="btn btn-primary ">Post</button>
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- /#wrapper -->



