<div class="side d-flex flex-row bd-highlight">
    <aside class="sidenav">
        <ul>
            <li>
                <a href="/tutor">Home</a>

            </li>
            <li>
                <a href="/tutor-Profile">Profile</a>

            </li>
            <li>
                <a href="/tutor-students">Students</a>
            </li>
            <li>
                <a href="/tutor-attendance">Attendance</a>

            </li>
            <li>
                <a href="/tutor-assignment">assignment</a>

            </li>
            <li>
                <a href="/tutor-notes">Notes</a>

            </li>
            <li>
                <a href="/tutor-announcement">Announcement</a>
            </li>
            <li>
                <a href="/tutor-events">Events</a>

            </li>
            <li>
                <a href="/tutor-photos">Photos</a>

            </li>
        </ul>




    </aside>

    <div class="main">
        <div class="container  ">
            <div class="row topic">
                <div class="col-md-12 m-2 ">
                    <h3 class="text-center">Events</h3>
                </div>
                <div class="row w-50  ">
                       <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Event:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Event Name">
                    </div>
                       <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Conducting By:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Conducting By  ">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Topic:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter you Topic">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Date:</label>
                        <input class="form-control " type="date" value="2011-08-19" id="example-date-input">
                    </div>

                    
                    
                    <button type="button" class="btn btn-primary">save</button>
                </div>


            </div>




        </div>
    </div>




</div>
</div>