<div class="side d-flex flex-row bd-highlight">
  <aside class="sidenav">
    <ul>
      <li>
        <a href="/tutor">Home</a>

      </li>
      <li>
        <a href="/tutor-Profile">Profile</a>

      </li>
      <li>
        <a href="/tutor-students">Students</a>
      </li>
      <li>
        <a href="/tutor-attendance">Attendance</a>

      </li>
      <li>
        <a href="/tutor-assignment">assignment</a>

      </li>
      <li>
        <a href="/tutor-notes">Notes</a>

      </li>
      <li>
        <a href="/tutor-announcement">Announcement</a>
      </li>
      <li>
        <a href="/tutor-events">Events</a>

      </li>
      <li>
        <a href="/tutor-photos">Photos</a>

      </li>
    </ul>




  </aside>

  <div class="main">
    <div class="container ">
      <div class="row studenDetails" >
        <div class="col-md-6">
          <h3>Students Details</h3>
        </div>
        <div class="col-md-6">
          
          <a href="/tutor-addStudent" class="btn btn-primary"> Add Student</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
  <thead>
    <tr >
      <th scope="col" width=15%>Rollno</th>
      <th scope="col" width=65%>Name</th>
      <th scope="col" >Action</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each studentslist}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Name}}</td>
      <td class="tableIcon">
       <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M17.263 2.177a1.75 1.75 0 012.474 0l2.586 2.586a1.75 1.75 0 010 2.474L19.53 10.03l-.012.013L8.69 20.378a1.75 1.75 0 01-.699.409l-5.523 1.68a.75.75 0 01-.935-.935l1.673-5.5a1.75 1.75 0 01.466-.756L14.476 4.963l2.787-2.786zm-2.275 4.371l-10.28 9.813a.25.25 0 00-.067.108l-1.264 4.154 4.177-1.271a.25.25 0 00.1-.059l10.273-9.806-2.94-2.939zM19 8.44l2.263-2.262a.25.25 0 000-.354l-2.586-2.586a.25.25 0 00-.354 0L16.061 5.5 19 8.44z"></path></svg></a>
       <a href=""> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z"></path><path d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z"></path><path d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z"></path></svg></a>
      </td>
      
    </tr>
    {{/each}}
    
  
  </tbody>
</table>
        </div>
      </div>


    </div>
  </div>




</div>
</div>