<div class="side d-flex flex-row bd-highlight">
    <aside class="sidenav">
        <ul>
            <li>
                <a href="/student">Home</a>

            </li>
            <li>
                <a href="/student/Profile">Profile</a>

            </li>
            <li>
                <a href="/student/todays-task">Today's Task</a>

            </li>

            <li>
                <a href="/student/attendance">Attendance</a>

            </li>
            <li>
                <a href="/student/assignment">Assignment</a>

            </li>
            <li>
                <a href="/student/notes">Notes</a>

            </li>
            <li>
                <a href="/student/announcement">Announcement</a>
            </li>

        </ul>




    </aside>

    <div class="main">
        <div class="container  ">
            <div class="row ">
                <div class="col-md-12 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-1by1">
                                {{!-- <iframe class="embed-responsive-item" src="/OptionPrintkeam"></iframe> --}}
                                <object data="/" type="application/pdf">
                                    <iframe src="/"></iframe>
                                </object>
                            </div>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>


                </div>

                <div class="col-md-12 col-lg-4">
                    <div class="card text-center ">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <img src="/images/background/tutor.png" class="card-img-top " alt="...">
                            <h5 class="card-title">Seatment</h5>
                            <p class="card-text">With to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>


                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-1by1">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                            </div>
                            <h5 class="card-title">Seatment</h5>
                            <p class="card-text">With to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>


                </div>




            </div>



        </div>
    </div>



</div>
</div>