<div class="side d-flex flex-row bd-highlight">
    <aside class="sidenav">
        <ul>
            <li>
                <a href="/student">Home</a>

            </li>
            <li>
                <a href="/student/Profile">Profile</a>

            </li>
            <li>
                <a href="/student/todays-task">Today's Task</a>

            </li>

            <li>
                <a href="/student/attendance">Attendance</a>

            </li>
            <li>
                <a href="/student/assignment">Assignment</a>

            </li>
            <li>
                <a href="/student/notes">Notes</a>

            </li>
            <li>
                <a href="/student/announcement">Announcement</a>
            </li>

        </ul>




    </aside>


    <div class="main">
        <div class="container">
            <div class="row">
                {{#each photo}}
                <div class="col-md-4 pb-4">
                    <div class="card" style="width: 18rem;">
                        <a href="/{{this.Photos.FileAddress}}">
                            <img src="/{{this.Photos.FileAddress}}" class="card-img-top  " style="height: 200px;"
                                alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{this.Photos.Topic}}</h5>

                        </div>
                    </div>
                </div>
                {{/each}}



            </div>
        </div>
    </div>




</div>
</div>