<div class="side d-flex flex-row bd-highlight">
  <aside class="sidenav">
    <ul>
      <li>
        <a href="/student">Home</a>

      </li>
      <li>
        <a href="/student/Profile">Profile</a>

      </li>
          <li>
        <a href="/student/todays-task">Today's Task</a>

      </li>
    
      <li>
        <a href="/student/attendance">Attendance</a>

      </li>
      <li>
        <a href="/student/assignment">Assignment</a>

      </li>
      <li>
        <a href="/student/notes">Notes</a>

      </li>
      <li>
        <a href="/student/announcement">Announcement</a>
      </li>

    </ul>




  </aside>


    <div class="main">
        <div class="container  ">
            <div class="row topic">
                <div class="col-md-12 m-2 ">
                    <h3 class="text-center">Notes</h3>
                </div>
               
                </div>
                

            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col" width=50%>Topic</th>
                                <th scope="col" width=50%>File</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>selection sort</td>
                                <td><a href="">selection_sort.pdf</a></td>
                              

                            </tr>
                            <tr>
                                <td>bubble sort</td>
                                <td><a href="">bubbul.pdf</a></td>
                               

                            </tr>
                            <tr>
                                <td>binery tree</td>
                                <td><a href="">tree.pdf</a> </td>
                               

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            
            

        </div>
    </div>




</div>
</div>